body {
  color: #f0f;
}

#mondrian-container {
    display:block
    width:100%;
    height:100%;
    background-color:#555;
    overflow:hidden;
}

.mondrian-block {

  overflow: hidden;
  text-align: center;

}

.mondrian-tile {
  /*width: 100%;*/
  height: 100%;
}

.mondrian-horiz-block-1 {

  width:50%;
  height:100%;
  display: inline;
  float: left;
}

.mondrian-horiz-block-2 {
  width:50%;
  height:100%;
  display: inline;
  float: right;
}

.mondrian-vert-block-1 {
    border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: block;
  width:100%;
  height:50%;
 }

.mondrian-vert-block-2 {
  display: block;
  width:100%;
  height:540px;

}