<html lang="en" ng-app="flotoApp">
<head>
    <meta charset="utf-8">
    <title>Floto Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="css/floto.css"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.2.0.js"></script>

</head>
<body ng-controller="FlotoCtrl">

    <div id="main">
        <div class="row-fluid">
            <div class="span">
                <carousel interval="myInterval">
                    <slide ng-repeat="image in images" active="image.active">
                        <img id="main-image" ng-src="{{image.url}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{image.caption}} by {{image.name}}</h4>
                        </div>
                    </slide>
                </carousel>

                <div class="container-fluid">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li ng-repeat="image in images">
                                <a href="#" class="thumbnail thumbnail-{{image.active}}" ng-disabled="image.active" ng-click="displayImage(image)">
                                    <img ng-src="{{image.url}}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    -->
</body>
</html>